* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
  }
  
  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
  }
  h1,
  p {
      color: white;
      text-shadow: 3px 2px red;
  }
  /* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
  .wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 130px;
    overflow: auto;
  }
  .navbar {
    background-color: #4267b2;
    font-family: Calibri;
    font-weight: bold;
    color: rgb(255,255,255);
  }

  .navbar-brand {
    background-color: #4267b2;
    padding-left: 30px;
    font-family: Calibri;
    font-weight: bold;
    color: rgb(255,255,255);
}
  /* The footer is positioned at the bottom of the page */
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100px;
    background: #4e5d6c;
  }
  
  /* The code styles the text at the bottom of the footer */
  .footer > .bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: #1b3146;
  }
  
  .navbar {
    padding: 5px;
    margin: 0;
  }