body {
  background-color: lightgray;
}
li {
  color: white;
}
h1 {
   color: rgb(28, 127, 241);
   background-color: white;
   font-family: Calibri;
   font-weight: bold;
}

h3 {
   color: rgb(28, 127, 241);
   background-color: white;
   font-family: Calibri;
   font-weight: bold;
}

img {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

p {
 font-family: sans-serif;
 font-size: 12
}

.container {
background-color: white;
}
.wrapper {
position: relative;
min-height: 100%;
padding-bottom: 130px;
overflow: auto;
}
.navbar {
background-color: #4267b2;
font-family: Calibri;
font-weight: bold;
color: rgb(255,255,255);
}
.navbar-header {
background-color: #4267b2;
font-family: Calibri;
font-weight: bold;
color: rgb(255,255,255);
}
.navbar-brand {
background-color: #4267b2;
padding-left: 30px;
font-family: Calibri;
font-weight: bold;
color: rgb(255,255,255);
}

/* Set a navbar for tiny phones */
@media (max-width: 480px) {
.navbar {
  background-color: #4267b2;
}

.navbar-brand {
               background-color: white;
               font-family: Calibri;
               font-weight: bold;
               color: #4267b2;
}};