/* class = dot,
   id = # */
   .jumbotron {
    position: relative;
    height: 550px;
    padding: 20px;
    margin: 0;
    background: white;
    background-image: url("../images/bacteria_by_filterforgedotcom.jpg");
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    color: white;
    text-shadow: 3px 2px red;
  }
  
  .well {
    background-color: #337ab7;
    color: black;
  }